<div class="header">
    <h1>About Meducated</h1>
</div>
<div class="content-body text-left">
    <div class="row">
        <div class="col-xs-12 col-sm-4 about-image">
            <img src="@Url.Content("~/Content/Images/about-icon1.png")" alt="Medicated.ninja logo with mobile app" />
        </div>
        <div class="col-xs-12 col-sm-8">
            <h4>
                Meducated is a tool developed for individuals, families, and the caregivers of the elderly and informed to help improve the quality of care.
            </h4>
            <div class="mt-sm">
                The tool allows individuals, families, and caregivers the ability to stay better informed about
                the medications their patients and loved ones are taking as well as possible drug and/or food
                interactions. The tool pulls information from multiple data sources that can be accessed via
                an easy-to-use search feature on the web, a native iOS app and a native Android app.
            </div>
        </div>
    </div>
    <div class="row mt-lg">
        <div class="col-sm-4 about-image col-sm-push-8">
            <img class="about-image" src="@Url.Content("~/Content/Images/about-icon2.png")" alt="Pill bottle with sample label" />
        </div>
        <div class="col-sm-8 col-sm-pull-4">
            <h4>
                Track Current Medications.
            </h4>
            <div class="mt-sm">
                Meducated also provides an easy way to track current medications being taken by the
                patient by allowing the caregivers the ability to create virtual “medicine cabinets” to be
                viewed and shared at any time. Our ultimate goal is to give the caregiver the tools to
                take control of the coordination and quality of care of those in need.
            </div>
        </div>
    </div>
    <div class="row mt-lg">
        <div class="col-xs-12 col-sm-4 about-image">
            <img src="@Url.Content("~/Content/Images/segue_logo_blue_plain.jpg")" alt="Segue Technologies, Inc." />
        </div>
        <div class="col-xs-12 col-sm-8">
            <h4>About the Developer</h4>
            <div class="mt-sm">
                Segue Technologies Inc. (Segue) is a custom design and build company focusing on mobile and web-based
                application development. Segue tailors each project to the size and scope of our customers’
                requirements, from entrepreneurial mobile applications, to federal enterprise systems.
            </div>
        </div>
    </div>
</div>
