<div class="cabinet-header header">
    <h1>My Medicine Cabinets</h1>
</div>
<div class="cabinet-list row">
    <div class="col-sm-6 col-xs-12">
        <div class="cabinet-new-button-wrapper mb-sm">
            <button class="btn" id="create-cabinet"><img src="/Content/Images/green-plus-icon.png"><span>Create New Medicine Cabinet</span></button>
        </div>
        <div id="cabinets">
        </div>
    </div>
    <div id="cabinet-contents" class="col-sm-6 col-xs-12">
    </div>
</div>
