<div class="search-header header">
    <h1>Let's Get Started!</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="search-input-block">
                <input class="search-term" id="search-term" placeholder="Search " type="text" value="" />
                <button id="search-btn" class="btn btn-primary">
                    <img src='/Content/Images/magnifying-glass.png' />
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 search-midbanner-logo">
            <img src='/Content/Images/logo-midbanner-half.png' />
        </div>
    </div>
</div>
<div id="search-initial" class="content-body">
    <div class="row">
        <div class="col-xs-12 fine-print">
            Meducated is a tool developed for the caregivers of the elderly and infirmed to help improve the quality of care.
            The tool allows caregivers (both professional as well as family and friends) the ability to stay better informed
            about the medications their patients and loved ones are taking as well as possible drug and/or food interactions.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button id="learn-more-btn" class="btn btn-primary" data-toggle="tab" data-target="#about-page">
            Learn more about Meducated
            </button>
        </div>
    </div>
</div>
<div id="no-results" class="content-body collapse">
    No results found 
</div>
<div id="search-results" class="content-body collapse">
    <div class="row">
        <div class="col-md-12"><label>Search Results for "<span id='search-term-label'></span>"</label></div>
        <div class="col-md-12" id="result-selector"></div>
    </div>
</div>
